
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 !important;
}

.navbar-buttons {
    display: flex;
    align-items: center;
}

.btn-cadastro {
    background-color: #28a745 !important;
    color: white; 
    padding: 12px 24px !important;
    border-radius: 5px; 
    margin-left: 10px; 
    text-decoration: none;
}

.btn-login {
    background-color: #007bff !important;
    color: white;
    padding: 12px 24px !important;
    border-radius: 5px; 
    margin-left: 10px; 
    text-decoration: none; 
}

.btn-cadastro:hover, .btn-login:hover {
    opacity: 0.8; 
}

.btn-cadastro:hover, .btn-login:hover {
    opacity: 0.8; 
}


.nav-link {
    margin: 0 10px; 
    color: #000;
}

.nav-link:hover {
    color: #007bff; 
}
.navbar-brand {
    display: flex;
    align-items: center; 
}

.navbar-brand img {
    margin-right: 10px;
}

